	* {
		-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
		-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
		/* make transparent link selection, adjust last value opacity 0 to 1.0 */
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
		-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}
	

	body {
		background-color: #000000;
		margin: 0px;
	}
	canvas {
		display:block; 
		position:absolute;
		z-index: 5;
	}
	.container {
		width:auto;
		text-align:center;
		background-color:#000000;
	}

	

	#movementBox{
		width: 50%;
		height: 100%;
		position: absolute;
		background-color:#170d0d;
		left: 0;
	}

	.centerer{
		width: 100%;
		
	}
	.centerer h1{
		font-weight: bold;
		font-family: verdana, sans-serif;
	}
	#movementBox h1{
		color:#262323;
		text-align: center;
		font-size: 15vh;
		
	}
	#movementBox h2 {
		text-align: center;
		font-family: verdana, sans-serif;
		font-size: 6vh;
		font-weight: bold;
	}

	#boostButton{
		width: 50%;
		height: 50%;
		position: absolute;
		right: 0;
		bottom:0;
		background-color: #20aabe;

	}

	#boostButton h1{
		color: #30dced;
		text-align: center;
		font-size: 14vh;
	}
	#infoBox{
		width: 50%;
		height:50%;
		background-color: #252020;
		color: #bebebe;
		position: absolute;
		right: 0;
		top:0;
	}

	#infoBox h1{

		font-size: 12vh;
		text-align: center;
		text-shadow: -2px -2px #101010;
		margin-top: 0;
	}

	#infoBox h2 {
		font-size: 4vh;
		text-align: center;
		margin-bottom: 0;
	}