	* {
		-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
		-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
		/* make transparent link selection, adjust last value opacity 0 to 1.0 */
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
		-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
		-webkit-tap-highlight-color: rgba(0,0,0,0); 
	}
	
	body, html {
		font-family: verdana, sans-serif;
	}

	body {
		background-color: #000000;
		margin: 0px;
	}
	canvas {
		display:block; 
		position:absolute;
		z-index: 5;
	}
	.container {
		width:auto;
		text-align:center;
		background-color:#000000;
	}

	.box{
		width: 200px;
		height:65px;
		background-color: #ffffff;
		color: #000000;
		font-size: 14px;
		z-index: 10;
		position: fixed;
	}

	#movementBox{
		width: 50%;
		height: 100%;
		position: absolute;
		background-color:#170d0d;
		left: 0;
	}

	#boostButton{
		width: 50%;
		height: 50%;
		position: absolute;
		right: 0;
		bottom:0;
		background-color: #460046;
	}