<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<style type="text/css">
		body{padding: 0; margin: 0;}
		canvas{display: block; background-color: #EDEDED;}
		#mapDiv {width:100%; height:100%;}
	</style>
<script type="text/javascript">

	if ( !window.requestAnimationFrame ) {
		window.requestAnimationFrame = ( function() {
			return window.webkitRequestAnimationFrame ||
			window.mozRequestAnimationFrame ||
			window.oRequestAnimationFrame ||
			window.msRequestAnimationFrame ||
			function( /* function FrameRequestCallback */ callback, /* DOMElement Element */ element ) {
				window.setTimeout( callback, 1000 / 60 );
			};
		} )();
	}
	var ctx;
	var c;

	var xpositions = [];
	var ypositions = [];


	window.onload = function(){

	$('#drawCanvas').focus()
		ctx = drawCanvas.getContext("2d");
		c=document.getElementById("drawCanvas");
		ctx=c.getContext("2d");
		ctx.canvas.width = 500;
		ctx.canvas.height = 500;

		ctx.fillStyle="#BEBEBE";
		updatePosition();
	//ctx.fillRect(xpos,ypos,10,10);

		init();
		
	}

	

	function init(){
		
		update();
	}

	var socket = io.connect();
	var app = {

	}

	

	socket.on('dataClient', function(data){
		var id = parseInt(data.id_num);

		var posX = parseFloat(data.x);
		var posY = parseFloat(data.y);
		//var posX = relativeToScreen(parseFloat(data.x), ctx.canvas.width);
		//var posY = relativeToScreen(parseFloat(data.y), ctx.canvas.height);

		xpositions[id] = posX;
		ypositions[id] = posY;

		console.log(posX+ ", "+ posY);
		var xpos = posX;
		var ypos = posY;

		clearCanvas();
		updatePosition();
	})

	function relativeToScreen(val, newMax){
		var v = (val/100)*newMax;
		return v;
	}

/*
	function map (var value:float, var low1:float, var high1:float, var low2:float, var high2:float){
		low2 + (value - low1) * (high2 - low2) / (high1 - low1)
	}
	*/


	function updatePosition(){
		
		for (var i = 0; i<9; i++){
			ctx.fillRect(xpositions[i],ypositions[i],10,10);
			console.log(xpositions[i] + ", " + ypositions[i]);
		}
	}
	function clearCanvas() {
    	ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
	}

	function update(){
		requestAnimationFrame(update);
	}
	

	</script>
</head>

<body>

<div id="mapDiv">
<canvas id="drawCanvas"></canvas>
</div>

</body>
</html>