<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/shared.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/game.css">

<script type="text/javascript">

	if ( !window.requestAnimationFrame ) {
		window.requestAnimationFrame = ( function() {
			return window.webkitRequestAnimationFrame ||
			window.mozRequestAnimationFrame ||
			window.oRequestAnimationFrame ||
			window.msRequestAnimationFrame ||
			function( /* function FrameRequestCallback */ callback, /* DOMElement Element */ element ) {
				window.setTimeout( callback, 1000 / 35 );
			};
		} )();
	}
	var ctx;
	var c;

	var xtargets = [];
	var ytargets = [];
	var xpositions = [];
	var ypositions = [];
	var names = [];
	var colors = [];
	var playerSize=10;

	var startAtUser =1;
	var maxUsers = 12;
	var easing = 0.1;

	var receivedDataOnLaunch = false;
for (var i = startAtUser; i<maxUsers; i++){
			xtargets[i] = 100.0;
			ytargets[i] = 100.0;
			xpositions[i] = 0.0;
			ypositions[i] = 0.0;
		}

	window.onload = function(){
		$('#drawCanvas').focus()
			ctx = drawCanvas.getContext("2d");
			c=document.getElementById("drawCanvas");
			ctx=c.getContext("2d");
			ctx.canvas.width = 700;
			ctx.canvas.height = 700;
			ctx.font="15px Verdana";
			ctx.textAlign="center";
			ctx.fillStyle="#000000";
			
	//ctx.fillRect(xpos,ypos,10,10);
		init();
	}

	function init(){
		update();
		updatePlayerList();
		socket.emit("requestAllCurrentData");
	}

	var socket = io.connect();
	var app = {

	}

	socket.on("sendAllCurrentData", function(data){
		//var id = parseInt(data.id);
		for (var i = startAtUser; i<maxUsers; i++){
		xpositions[i] = parseFloat(data.x[i]);
		ypositions[i] = parseFloat(data.y[i]);

		xtargets[i] = parseFloat(data.x[i]);
		ytargets[i] = parseFloat(data.y[i]);

		names[i] = data.playerName[i];
		colors[i] = data.playerColor[i];

		easing = parseFloat(data.easing);
		

		console.log(data.playerName[i]  + ", " + data.playerColor[i] + ", " + xpositions[i] + ", " + ypositions[i]);
	}

		

		
		//names[1] = "sikter";
	})

	socket.on('sendName', function(data){
		names[parseInt(data._id)] = data._playerName;
		colors[parseInt(data.id)] = data._playerColor;
	})

	socket.on('dataClient', function(data){
		var id = parseInt(data.id_num);

		xtargets[id] = parseFloat(data.x);
		ytargets[id] = parseFloat(data.y);

		console.log("x: " + xtargets[id] + ", y: " + ytargets[id])

		// if (xpositions[id] == 0 && ypositions == 0){
		// 	xpositions[id] = xtargets[id];
		// 	ypositions[id] = ytargets[id];
		// }

		//xpositions[id] = targetX;
		//ypositions[id] = targetY;



		
	})

	socket.on('resetposition', function(data){
		console.log("resetted");
		var i = parseInt(data.id_num);
		xpositions[i] = parseFloat(data.x);
		ypositions[i] = parseFloat(data.y);

		xtargets[i] = parseFloat(data.x);
		ytargets[i] = parseFloat(data.y);
	})

	socket.on('playerKilled', function(data){
		console.log("player " + data.id_num + " got killed");
		var i = parseInt(data.id_num);
		xpositions[i] = parseFloat(data.x);
		ypositions[i] = parseFloat(data.y);

		xtargets[i] = parseFloat(data.x);
		ytargets[i] = parseFloat(data.y);
		console.log(data.x);
		//updatePosition();
	})

	function relativeToScreen(val, newMax){
		var v = (val/100)*newMax;
		return v;
	}

/*
	function map (var value:float, var low1:float, var high1:float, var low2:float, var high2:float){
		low2 + (value - low1) * (high2 - low2) / (high1 - low1)
	}
	*/


	function updatePosition(){
		clearCanvas();
		for (var i = startAtUser; i<maxUsers; i++){
			var dx = xtargets[i] - xpositions[i];
			var dy = ytargets[i] - ypositions[i];
			// xpositions[1] = xtargets[1];
			// ypositions[1] = ytargets[1];
			if ( (dx >0.001 || dx < -0.001) && (dy > 0.001 || dy <-0.001) ){
				xpositions[i] = xpositions[i] +dx *easing;
				ypositions[i] = ypositions[i] +dy *easing;
			}
			//var test = xpositions[1] +dx *easing;
			//xpositions[i] = xtargets[i];
			//ypositions[i] = ytargets[i];
			//console.log(names[1]);
			ctx.beginPath();
			ctx.fillStyle = colors[i];
			//ctx.translate(10,10);
			ctx.fillRect(xpositions[i]-(playerSize/2),ypositions[i]-(playerSize/2),playerSize,playerSize);

			ctx.beginPath();
			ctx.fillText(names[i] ,xpositions[i],ypositions[i]-10);
		}
	}
	function clearCanvas() {
    	ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
	}

	function update(){

		//console.log("wahed");
		updatePosition();
		requestAnimationFrame(update);

	}

	function updatePlayerList(){
		setTimeout(function(){
			$("#playerlist").empty();
			var p = 0;
			for (var i =startAtUser; i<maxUsers; i++){
				if (names[i] != undefined && names[i] != ""){
					p++;
				}
			}
			$("#playerlist").append("<h1>Players [" + p +"/"+ maxUsers + "] </h1>")
			for (var i = startAtUser; i<maxUsers; i++){
				if (names[i] != undefined && names[i] != ""){
					$("#playerlist").append("<div class='playerColorIndicator' style='background-color:"+colors[i]+";'></div> <p>" + names[i] + "</p>");
				}
			}
			updatePlayerList();
		},5000)
	}
	

	</script>
</head>

<body>

<div id="mapDiv">
	<canvas id="drawCanvas"></canvas>
	<div id="sidebar">
		<div id="playerlist">
		<h1>Players</h1>
		<p>TempMaster Maikel: 400</p>
		<p>PowerPandaNL: 370</p>
		<p>Anonymous: 280</p>
		<p>Armée de Terre: 270</p>
		<p>Rome: 160</p>
		</div>

		<hr>
			Info?
		<hr>
		<p class="smalltext">Copyright ©2015 Maikel Eskens. All rights reserved<br>
			<a href="www.maikeleskens.com" target="_blank">www.maikeleskens.com</a>
		</p>
	</div>
</div>

</body>
</html>