<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/shared.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/game.css">

<script type="text/javascript">

	if ( !window.requestAnimationFrame ) {
		window.requestAnimationFrame = ( function() {
			return window.webkitRequestAnimationFrame ||
			window.mozRequestAnimationFrame ||
			window.oRequestAnimationFrame ||
			window.msRequestAnimationFrame ||
			function( /* function FrameRequestCallback */ callback, /* DOMElement Element */ element ) {
				window.setTimeout( callback, 1000 / 35 );
			};
		} )();
	}
	var ctx;
	var c;

	var xtargets = [];
	var ytargets = [];
	var xpositions = [];
	var ypositions = [];
	var names = [];
	var colors = [];
	//TEMP SCORES
	var scores = [100,140,200,30,20,0,0,10,200,50,70,60];

	var gameLog = [];
	var isCharging = [];
	var playerSize=5;

	var startAtUser =1;
	var maxUsers = 12;
	var easing = 0.1;

	var screenWidth = 700;
	var screenHeight = 500;
	var relativeToScreen = 1.0;

	var receivedDataOnLaunch = false;
for (var i = startAtUser; i<maxUsers; i++){
			xtargets[i] = 100.0;
			ytargets[i] = 100.0;
			xpositions[i] = 0.0;
			ypositions[i] = 0.0;
			isCharging[i] = false;
		}

	window.onload = function(){
		fullscreen();
		$('#drawCanvas').focus()
			ctx = drawCanvas.getContext("2d");
			c=document.getElementById("drawCanvas");
			ctx=c.getContext("2d");
			ctx.canvas.width = screenWidth;
			ctx.canvas.height = screenHeight;
			
			
	//ctx.fillRect(xpos,ypos,10,10);
		init();
	}

	function fullscreen() {
    }

	function init(){
		update();
		updatePlayerList();
		socket.emit("requestAllCurrentData");
	}

	var socket = io.connect();
	var app = {

	}

	socket.on("setScreenSize",function(data){
		screenWidth = parseInt(data.swidth);
		screenHeight = parseInt(data.sheight);

		 relativeToScreen = window.innerHeight / screenHeight;

		 screenWidth = screenWidth * relativeToScreen;
		 screenHeight = screenHeight *relativeToScreen;

		var minWidth = screenWidth + 360;
		$('#mapDiv').css({
			"min-width": minWidth + "px"
		})

		console.log("width: " + screenWidth + ", height: " +screenHeight);
		ctx.canvas.width = screenWidth;
		ctx.canvas.height = screenHeight;
		ctx.font="15px Verdana";
		ctx.textAlign="center";
		ctx.fillStyle="#000000";
		
	})

	socket.on("sendAllCurrentData", function(data){
		//var id = parseInt(data.id);
		for (var i = startAtUser; i<maxUsers; i++){
		xpositions[i] = parseFloat(data.x[i]) * relativeToScreen;
		ypositions[i] = parseFloat(data.y[i]) * relativeToScreen;

		xtargets[i] = parseFloat(data.x[i]) *relativeToScreen;
		ytargets[i] = parseFloat(data.y[i]) *relativeToScreen;

		names[i] = data.playerName[i];
		colors[i] = data.playerColor[i];

		easing = parseFloat(data.easing);

		console.log(data.playerName[i]  + ", " + data.playerColor[i] + ", " + xpositions[i] + ", " + ypositions[i]);
	}

		

		
		//names[1] = "sikter";
	})

	socket.on('sendName', function(data){
		names[parseInt(data._id)] = data._playerName;
		colors[parseInt(data.id)] = data._playerColor;
	})

	socket.on('dataClient', function(data){
		var id = parseInt(data.id_num);

		xtargets[id] = parseFloat(data.x)*relativeToScreen;
		ytargets[id] = parseFloat(data.y)*relativeToScreen;

		console.log("x: " + xtargets[id] + ", y: " + ytargets[id])

		// if (xpositions[id] == 0 && ypositions == 0){
		// 	xpositions[id] = xtargets[id];
		// 	ypositions[id] = ytargets[id];
		// }

		//xpositions[id] = targetX;
		//ypositions[id] = targetY;



		
	})

	socket.on('resetposition', function(data){
		console.log("resetted");
		var i = parseInt(data.id_num);
		repositionPlayer(i, data);
	})


	socket.on('playerKilled', function(data){
		var i = parseInt(data.id_num);
		var killedBy = parseInt(data.killedBy);
		repositionPlayer(i, data);
		gameLog.push("<b><span style='color:" +colors[i] + "'>" + names[i] +
			"</span> </b>was killed by <b><span style='color:" + colors[killedBy] + "'>" + names[killedBy] + "</span></b>");
		if (gameLog.length > 5){
			gameLog.shift();
		}

		$('#gamelog').empty();
		for (var g = 0; g<gameLog.length; g++){
			$('#gamelog').append(gameLog[g] + "<br>");
		}

	})

	socket.on('startCharge', function(data){
		isCharging[parseInt(data.id)] = true;
		console.log("player " + data.id + " started charging");
	})

	socket.on('stopCharge', function(data){
		isCharging[parseInt(data.id)] = false;
		console.log("player " + data.id + " stopped charging");
	})


/*
	function map (var value:float, var low1:float, var high1:float, var low2:float, var high2:float){
		low2 + (value - low1) * (high2 - low2) / (high1 - low1)
	}
	*/


	function updatePosition(){
		clearCanvas();
		for (var i = startAtUser; i<maxUsers; i++){
			var dx = xtargets[i] - xpositions[i];
			var dy = ytargets[i] - ypositions[i];
			// xpositions[1] = xtargets[1];
			// ypositions[1] = ytargets[1];
			if ( (dx >0.001 || dx < -0.001) && (dy > 0.001 || dy <-0.001) ){
				xpositions[i] = xpositions[i] +dx *easing;
				ypositions[i] = ypositions[i] +dy *easing;
			}
			//var test = xpositions[1] +dx *easing;
			//xpositions[i] = xtargets[i];
			//ypositions[i] = ytargets[i];
			//console.log(names[1]);
			ctx.beginPath();
			
			//ctx.translate(10,10);

			if (isCharging[i] == true){
				ctx.fillStyle = 'blue';
				ctx.arc(xpositions[i], ypositions[i],playerSize*1.5,0,2*Math.PI);
				ctx.fill();
			}
			ctx.fillStyle = colors[i];
			ctx.arc(xpositions[i], ypositions[i],playerSize,0,2*Math.PI);
			ctx.fill();
			//ctx.fillRect(xpositions[i]-(playerSize/2),ypositions[i]-(playerSize/2),playerSize,playerSize);

			ctx.beginPath();
			ctx.fillText(names[i] ,xpositions[i],ypositions[i]-10);
		}
	}
	function clearCanvas() {
    	ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
	}

	function update(){

		//console.log("wahed");
		updatePosition();
		requestAnimationFrame(update);

	}

	function repositionPlayer(_i, _data){
		xpositions[_i] = parseFloat(_data.x)*relativeToScreen;
		ypositions[_i] = parseFloat(_data.y)*relativeToScreen;

		xtargets[_i] = parseFloat(_data.x)*relativeToScreen;
		ytargets[_i] = parseFloat(_data.y)*relativeToScreen;
	}

	function updatePlayerList(){
		setTimeout(function(){
			$("#playerlist").empty();
			var p = 0;
			for (var i =startAtUser; i<maxUsers; i++){
				if (names[i] != undefined && names[i] != ""){
					p++;
				}
			}
			$("#playerlist").append("<h1>Players [" + p +"/"+ maxUsers + "] </h1>")
			for (var i = startAtUser; i<maxUsers; i++){
				if (names[i] != undefined && names[i] != ""){
					$("#playerlist").append("<div class='playerColorIndicator' style='background-color:"+colors[i]+";'></div> <p>" +
						names[i] + " : <b>" + scores[i] + "</b></p>");
				}
			}
			updatePlayerList();
		},1000)
	}
	

	</script>
</head>

<body>

<div id="mapDiv">
	<canvas id="drawCanvas"></canvas>
	<div id="sidebar">
		<div id="playerlist">
		<h1>Players</h1>
		</div>

		<hr>
		<div id="gamelog">
			
		</div>
		<hr>
		<p class="smalltext">Copyright ©2015 Maikel Eskens. All rights reserved<br>
			<a href="www.maikeleskens.com" target="_blank">www.maikeleskens.com</a>
		</p>
	</div>
</div>

</body>
</html>