
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/shared.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
</head>

<body style="background-color:170d0d;">
    <div style="width:500px; margin:0px auto;">
        <h1 style="color:#ffffff;">Create your ingame name</h1>
        <div class="popup">wahed</div>
        <input type="text" id="nickname" onkeypress="return inputLimiter(event,'nickname')" maxlength="20" placeholder="Your name" /><br>
        <button class="startGame" onClick ="startGame()">Play</button>
    </div>

    <script type="text/javascript">
    var prevChar = undefined;

    window.onload = function(){
        var checkIfIsFull = getParameterByName('full');
        var myName = getParameterByName('name');
        console.log(checkIfIsFull);
        console.log(myName);
        if (checkIfIsFull == 'true'){
            $(".popup").empty();
            $(".popup").append("The game is currently full of players, please try again later");
            $(".popup").css({
                "display" : "block"
            })
            document.getElementById("nickname").value = myName;
        }
    }

    function inputLimiter(e,allow) {
        var AllowableCharacters = '';
        if (allow == 'nickname' && prevChar !=32)
        {
            AllowableCharacters=' ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_\'';
        } else {
            AllowableCharacters='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz_\'';
        }
        var k = document.all?parseInt(e.keyCode): parseInt(e.which);
        
        if (k!=13 && k!=8 && k!=0){
            if ((e.ctrlKey==false) && (e.altKey==false)) {
                prevChar = k;
                return (AllowableCharacters.indexOf(String.fromCharCode(k))!=-1);

            } else {
             return true;
         }
     } else {
        return true;
    }
} 

function startGame(){
	var n = document.getElementById("nickname").value;
    var nCount = n.split('').length;

    if (nCount>3){
       var _n = {playerName: n};
       _n = JSON.stringify(_n);
       localStorage.setItem('_n', _n);
       console.log(_n);
       window.location.href = "/play";
   }
   else {
        $(".popup").empty();
        $(".popup").append("Your name requires at least 3 characters");
        $(".popup").css({
            "display" : "block"
        })
   }
	//
}

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
</script>
</body>